<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>College Sansar</title>
		<link rel='stylesheet' href='/css/Exam.css' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap'
			rel='stylesheet'
		/>
		<script src='https://kit.fontawesome.com/0e01e4ad2c.js' crossorigin='anonymous'></script>

		<!-- CSS only -->
		<link
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
			crossorigin='anonymous'
		/>
	</head>
	<body>
		<header>
			<nav class='m-3'>
				<a href='/'><img src='/assets/logo.png' alt='logo' /></a>
				<div class='nav-links p-0 d-flex justify-content-between align-items-center'>
					<ul class='m-0 d-flex align-items-center justify-content-between w-100 px-4'>
						<div class='d-flex gap-3'>
							<li><a href='/college'>College</a></li>
							<li><a href='/career'>Careers</a></li>
							<li><a href='/Exam'>Exams</a></li>
						</div>

						<div class='d-flex gap-2'>
							{{#unless isLoggedIn}}
								<a
									class='btn btn-primary d-flex align-items-center justify-content-center py-3 text-light'
									href='/Login'
								>Log In</a>
								<a
									class='btn btn-primary d-flex align-items-center justify-content-center py-3 text-light'
									href='/Register'
								>Register</a>
							{{/unless}}
						</div>

					</ul>
					<div class='d-flex align-items-center gap-3'>
						{{#if isLoggedIn}}
							<span style='white-space: nowrap;'>Hi {{username}}</span>
							<div class='btn btn-primary text-white p-0 d-flex align-items-center justify-content-center py-3'>
								<a class='text-light text-decoration-none p-0' href='/auth/logout'>Log Out</a>
							</div>
						{{/if}}
					</div>
				</div>
			</nav>
			<hr />
		</header>
		<main>
			<div class='section-container px-4'>
				<div class='section1'>
					<div class='headingText p-0'>
						<h2>
							Entrance Exams in Nepal
						</h2>
					</div>

					<div class='exam-search p-0 my-4'>
						<form class='d-flex align-items-center gap-3' action='/exam' method='GET'>
							<input type='search' name='search' id='examSearch' placeholder='Search Exams' />
							<button
								class='btn text-light m-0'
								style='height: 100%; padding: 10px 20px; background-color: #F24E1E;'
							>
								Search
							</button>
						</form>
					</div>

					<div>
						<p>Upcoming Exams</p>

						<div class='d-flex flex-wrap gap-3'>
							<a href='#' class='card text-decoration-none' style='width: 18rem;'>
								<img
									src={{this.featuredImage}}
									height='200'
									style='object-fit:cover;'
									class='card-img-top'
									alt='...'
								/>
								<div class='card-body'>
									<h5 class='card-title'>{{this.examTitle}}</h5>
									<p class='card-text small'>{{this.examCategory}}</p>
									<p class='card-text small'>{{this.examDate}}</p>
								</div>
							</a>
						</div>
					</div>
					{{! <div class='showExams'>
						<p>Here the date of exams will be shown</p>
					</div> }}
				</div>
				<div class='ExamImage'>
					<img src='/assets/exams.png' alt='' />
				</div>
			</div>

			<div>

				<div class='Searchtext'>
					<p>Search By Category</p>
				</div>

				<div class='d-flex flex-wrap gap-3 w-75 mt-4 mb-5 mx-auto'>
					<div class='p-4 rounded shadow-sm bg-light border' style='max-width:200px; cursor:pointer'>
						<a href='/exam?search=engineering&&isCategory=true' class='text-decoration-none lead'>Engineering</a>
					</div>

					<div class='p-4 rounded shadow-sm bg-light border' style='max-width:200px; cursor:pointer'>
						<a href='/exam?search=public&&isCategory=true' class='text-decoration-none lead'>Public Service</a>
					</div>

					<div class='p-4 rounded shadow-sm bg-light border' style='max-width:200px; cursor:pointer'>
						<a href='/exam?search=medical&&isCategory=true' class='text-decoration-none lead'>Medical</a>
					</div>

				</div>

				{{! <div class='ExamContainer'>
					<div class='boxes'>
						<div class='box1'>
							<div class='img'>
								<img src='assets/Architect.png' alt='' />
							</div>
							<div class='Etext'>
								<p>Engineering</p>
							</div>
						</div>
						<div class='box2'>

						</div>
					</div>
					<div class='boxes'>
						<div class='box1'>

						</div>
						<div class='box2'>

						</div>

					</div>
					<div class='boxes'>
						<div class='box1'>

						</div>
						<div class='box2'>

						</div>
					</div>
					<div class='boxes'>
						<div class='box1'>

						</div>
						<div class='box2'>

						</div>

					</div>
					<div class='boxes'>
						<div class='box1'>

						</div>
						<div class='box2'>

						</div>

					</div>
					<div class='boxes'>
						<div class='box1'>

						</div>
						<div class='box2'>

						</div>

					</div>
				</div> }}
			</div>

			<div class='SubscribeSection'>
				<div class='headingText'>
					<p> Subscribe for important date and Updates</p>
				</div>
				<form action='#'>
					<div class='inputSubs'>
						<input type='email' name='Email' id='Email' placeholder='Enter your Email' />
						<input type='text' name='Number' id='Number' placeholder='Phone Number' />
						<input type='text' name='course' id='course' placeholder='Choose course' />
						<input type='submit' value='Submit' />
					</div>
				</form>

			</div>

		</main>

	</body>
</html>